*{
    font-size: 20px ;
}

body {
    background-color: #fffbeb;
}

.gridBox {
    display:grid;
    width: 95vw;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    background-color: #fde68a;
    gap: 10px;
    padding: 10px;
}
#header {
    background-color: #f59e0b;
    grid-column: 1/5;
    border-radius: 5px;
    
}

#headerContentWrapper {
    display: grid;
    grid-template-columns: .25fr 1fr 1fr;
   
    
    
    

    
}

#doggieWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;

}

#headerTextWrapper1{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
    align-items: center;   
}

#headerTextWrapper2{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    
    
}

#doggie{
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}

#dashboard {
    
    grid-row: 2/5;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100%;
    
}




.dashboardContent {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
    align-items: center;
    background-color: #78350f;


    
    
        

    

    

}



#column1 {

    grid-row: 2/5;
    display: grid;
    grid-template-rows: 1fr .5fr;
    grid-template-columns: 100%;
    align-content: center;
    

}

#column2 {
    
    grid-row: 2/5;
    display: grid;
    grid-template-rows: .5fr .9fr;
    grid-template-columns: 100%;
    
}
#column3 {
   
    grid-row: 2/5;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100%;
}

.column1content{
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color:#fffbeb;
    border-radius: 5px;
        
    margin:1.5%;
    width:100%;
    padding-bottom:10%;  /* to simulate height on the empty items */
    
    align-content: center;
    justify-content: center;

    
    



}

.column1content:hover{

    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}

.column2content{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color:#fffbeb;
    border-radius: 5px;
        
    margin:1.5%;
    width:100%;
    padding-bottom:10%;  /* to simulate height on the empty items */
    
    align-content: center;
    justify-content: center;
    
    
    
}
.column2content:hover {
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}

.column3content{
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color:#fffbeb;
    border-radius: 5px;
        
    margin:1.5%;
    width:100%;
    padding-bottom:10%;  /* to simulate height on the empty items */
    
    align-content: center;
    justify-content: center;
    
    
}

.column3content:hover{
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}